[submodule "target_systems/libhotstuff"]
	path = target_systems/hotstuff
	url = git@github.com:Pompe-org/libhotstuff.git
	branch = cob-hotstuff
[submodule "target_systems/pompe"]
	path = target_systems/pompe
	url = git@github.com:Pompe-org/libhotstuff.git
	branch = cob-pompe
[submodule "target_systems/pompe-sro"]
	path = target_systems/pompe-sro
	url = git@github.com:Pompe-org/libhotstuff.git
	branch = cob-pompe-sro
[submodule "target_systems/hotstuff-bumped"]
	path = target_systems/hotstuff-bumped
	url = git@github.com:Pompe-org/libhotstuff.git
	branch = cob-hotstuff-bump
[submodule "target_systems/pompe-bumped"]
	path = target_systems/pompe-bumped
	url = git@github.com:Pompe-org/libhotstuff.git
	branch = cob-pompe-bump
[submodule "target_systems/themis-src-anon-cob"]
	path = target_systems/themis-src-anon-cob
	url = git@github.com:yhzhang0128/themis-src-anon-cob.git
	branch = themis-cob
